<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Listening to events</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!--<button v-on:click="increase">Click me</button>-->
        <button v-on:click="increase(2)">Click me</button>
        <p>{{ counter }}</p>
        <p v-on:mousemove="updateCoordinates">
            Coordinates: {{ x }} / {{ y }}
            <!-- - <span v-on:mousemove="dummy">DEAD SPOT</span> -->
            - <span v-on:mousemove.stop="">DEAD SPOT</span>
        </p>
        <input type="text" v-on:keyup.enter.space="alertMe">
    </div>

    <script src="app.js"></script>
</body>
</html>