<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Computer Properties</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <button v-on:click="increase">Increase</button>
        <button v-on:click="decrease">Decrease</button> -->
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter++">Increase Second</button>
        <p>Counter: {{ counter }} | {{ secondCounter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
    </div>

    <script src="app.js"></script>
</body>
</html>