<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Templates</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-once>{{ title }}</h1>
        <!-- <p>{{ title }}</p> -->
        <!-- <p>{{ sayHello() }}</p> -->
        <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
        <hr>
        <p v-html="finishedLink"></p>
    </div>

    <script src="app.js"> </script>
</body>
</html>