<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
      <h1>{{ title }}</h1>
      <button @click="title = 'Changed'">Update title</button>
      <button @click="destroy">Destroy</button>
  </div>
<script src="app.js"></script>
</body>
</html>


