<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app1">
    <h1 ref="heading" ref="heading">{{ title }}</h1>
    <button v-on:click="show" ref="myButton">Show Paragraph</button>
    <p v-if="showParagraph">This is not always visible</p>
  </div>

  <div id="app2">
    <h1 ref="heading">{{ title }}</h1>
    <button @click="onChange">Change something in Vue 1</button>
    <hello></hello>
    <hello></hello>
  </div>

  <div id="app3">

  </div>

  <!-- <hello></hello>
  <hello></hello> -->
  
  <!-- <div class="hello"></div>
  <div class="hello"></div> -->
<script src="app.js"></script>
</body>
</html>


