<template>
    <div class="container">
        <app-header></app-header>
        <hr>
        <app-servers></app-servers>
        <hr>
        <app-cookpit></app-cookpit>
    </div>
</template>

<script>
    import Servers from './Servers.vue'
    import Cookpit from './Cookpit.vue'
    import Header from './Header.vue'

    export default {
        components: {
            'app-servers': Servers,
            'app-cookpit': Cookpit,
            'app-header': Header
        }
    }
</script>
<style>

</style>
