<template>
    <div class="row">
        <app-servers-list></app-servers-list>
        <app-server-detail></app-server-detail>                
    </div>
</template>
<script>
    import ServersList from './ServersList.vue'
    import ServerDetail from './ServerDetail.vue'
    
    export default {
        components: {
            'app-servers-list': ServersList,
            'app-server-detail': ServerDetail
        }
    }
</script>
<style>

</style>


