<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Two way databiding</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name">
        <p>{{ name }}</p>
    </div>

    <script src="app.js"></script>
</body>
</html>